<p>Listado de heroes</p>

<div *ngIf='heroeB; else noBorrado'>
    <h3>Heroe borrado: <small>{{ heroeB }}</small></h3>
</div>

<ng-template #noBorrado>
    <h3>No ha borrado nada</h3>
</ng-template>


<button (click)="borrarHeroe()">
    Borrar
</button>

<ul>
    <li *ngFor="let item of heroes; let i = index">
       {{i+1}} - {{ item }}
    </li>
</ul>

<!-- <p>Heroes List</p>
 
<ul>
    <li *ngFor="let heroe of heroes; let i = index;">{{i + 1}} - {{heroe}} <button (click)="deleteHero(i)">Borrar
            Heroe</button>
    </li>
</ul>
 
<h3>Deleted Heroes</h3>
<ul>
    <li *ngFor="let deletedHeroe of deletedHeroes">{{deletedHeroe}}</li>
</ul> -->

